body {
    font-family: Arial, sans-serif;
    background-image:none;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(182, 130, 17, 0.781);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 60%;
    padding: 10px;
    background: #5429b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #1f6391;
}

/* Link para login */
.login-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.login-link button {
    width: auto;
    padding: 0;
    background: grey;
    color: #3729b9;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: inherit;
}

.login-link button:hover {
    background: grey;
    color: #1f6391;
    text-decoration: underline;
}
.login-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.login-link button {
    width: auto;
    padding: 0;
    background: grey;
    color: #4f29b9;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: inherit;
}

.login-link button:hover {
    background: grey;
    color: white;
    text-decoration: underline;
}
